


 .MovieFinder{
  color: rgb(255, 255, 255);
  font-weight: 700;
 font-size: 23px;
 } 

 .container{
  background-image: url("./bg3.jpg");
  /* position: relative; */
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%

 }
 .navbar{
   border-bottom: 4px solid ;
   /* background-color: rgb(143, 236, 255); */
 }


 .FilmLogo{
    width: 10%;
 }