
.FullRouter{
  margin-left: 60px;
}

.FullRouter ul li{
  color: white;
}
/* .searchBar{

} */

.T1{
  margin-left: 0.6%;
}
 .MovieFinder{
  color: rgb(255, 255, 255);
  font-weight: 700;
 font-size: 23px;
 } 

 .container{
  background-image: url("./bg3.jpg");
  /* position: relative; */
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%

 }
 .navbar{
   border-bottom: 4px solid ;
   /* background-color: rgb(143, 236, 255); */
 }


 .FilmLogo{
  
    width: 168px;
 }